extends layout

block content
    h1.
        Product List of all the things right in this world.
    button(class="btn", data-action="bea").
        Be Awesome
    button.btn(data-action="bea") Awesome
    ul
        each product, i in productlist
            li
                a= product.title
                table
                    p Description:
                    tr
                        tr(style='width: '+(50/2)+'%').
                        tr= product.description
                    tr
                        tr= product.sizes
                p ItemID:
                    ll
                        ll=product.style
                if product.isahorse
                    p I'm a horse
                    p Horse Color:
                    k
                        k=product.Horsecolor
                else
                    p I'm not a horse!
                    h4 Type of Object
                    j
                        j=product.objecttype


